<Strong>Olá, {{ user }}</Strong>
<p>Lamentamos informar, porém o evento que você estava inscrito foi cancelado.</p>
<p>Vejá mais detalhes abaixo:</p>
<p>
  <strong>Meetup: </strong> {{ title }}<br />
  <img src={{picture}} alt={{title}} style="border-radius: 5%; height: 250px; width: 600px; margin: 5px"><br />
  <strong>Descrição: </strong> {{ description }}<br />
  <strong>Local: </strong> {{ location}} <br />
  <strong>Data: </strong> {{ date }} <br />
  <br />
  <small>
    A data {{ date }}, está disponivel para outros meetups. <br />
    <br />
    Agradecemos a compreenção.
  </small>
</p>
