<Strong>Olá, {{ owner }}</Strong>
<p>Seu evento está crescento! Você tem um novo inscrito.</p>
<p>Mais detalhes abaixo:</p>
<p>
  <strong>Nome:
    <img src={{ picture }} alt={{ name }} width="32px" height="32px" style="border-radius: 32px">
  </strong> {{ name }}<br />
  <strong>E-mail: </strong> {{ email }} <br />
  <br />
  <strong>Meetup: </strong> {{ title }}<br />
  <Strong>Data do meetup: </Strong> {{ date }} <br />
  <br />

  <small>Agrecemos por ser um provedor de conhecimento.</small><br />
</p>
